.main.container{
  margin-top: 80px !important;
}

.submit-button{
  margin-top: 24px !important;
  float: right;
}
.data{
  margin-top: 15px;
}

thead tr th {
  background-color: #e0e0e0 !important;
}
.ui.inverted.dimer{
  background-color: rgb(255, 255, 255,0) !important;
}
